<div style="margin-top: -105px">
    <div class="row justify-content-md-center text-center">
        <div class="col col-3 bg-white habilidades" style="border-radius: 15px 0 0 15px; box-shadow: 0 5px 5px 0 gray">
            <i class="bi bi-back"></i>
            <h3>Back-end</h3>
            <p>
                J'ai travaillé dans differents structures et des test pour le logiciel.'
            </p>
            <p class="text-primary cabecera">
                Langage:
            </p>
            <p>
                Java, C#, Kotlin
            </p>
             <p class="text-primary cabecera">
                Expérience:
            </p>
            <ul>
                <li>Web APIs</li>
                <li>ASP.NET Core MVC</li>
                <li>Application Android</li>
            </ul>
        </div>
        <div class="col col-3 bg-white habilidades" style="border-radius: 0 15px 15px 0; box-shadow: 0 5px 5px 0 gray">
            <i class="bi bi-front"></i>
            <h3>Front-end</h3>
            <p> Je peux créer front-ends en utilisant le besoin du client.</p>
            <p class="text-primary cabecera">
                Langage:
            </p>
            <p>
                HTML, TypeScript
            </p>
             <p class="text-primary cabecera">
                Expérience:
            </p>
            <ul>
                <li>Angular</li>
                <li>Application Web</li>
                <li>Application Android</li>
            </ul>
        </div>
    </div>
</div>
