@model Contacto
@{
    ViewData["Title"] = "Merci";
}

<h1>Merci beaucoup pour me contacter.</h1>
<p>@Model.Nombre, Je vais repondre ton messaje le plus rapide possible.</p>
<div><a asp-action="Index" asp-controller="Home">Retour au home</a></div>
