@model IEnumerable<Proyecto>
@{
    ViewData["Title"] = "Projects";
}
<div class="container">
    <h1>Mes projects</h1>
    <p>Ici, vous trouverez tous les projects dans que j'ai travaillé.</p>
</div>
 <partial name = "_ListadoProyectos" model = "Model" />
